@keyframes letsRun {
    0% {
        transform: translateX(0vw);
        transform: rotateZ(180deg);
        transform: rotateY(180deg);
    }
    50% {
        transform: translateX(85vw);
    }
    100% {
        transform: translateX(0vw);
        transform: rotateZ(180deg);
        transform: rotateY(180deg);
    }
}
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.nyan-row{
    animation: appear 2s 1.5s both;
}
.nyan {
    animation: letsRun 4.5s forwards infinite;
    width: 120px;
    height: 120px;
}
.search-bar {
    animation: appear 2s both;
}

.nothing-message{
    font-family: "Courier New", Courier, monospace;
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    background-color: rgba(255, 107, 223, 0.247);
    border-radius: 40px;
}

main {
    background: rgba(255, 255, 255, 0.25);
    border-radius: 20px;
    animation: appear 3s both;
}

body {
    font-family: "Courier New", Courier, monospace;
    background: rgb(174, 234, 238);
    background: radial-gradient(
        circle,
        rgba(174, 234, 238, 0.46262254901960786) 0%,
        rgba(8, 0, 255, 0.4150035014005602) 100%
    );
}
.gif {
    box-shadow: 4px 0px 15px -5px rgb(0, 0, 0);
    margin: 7px;
    text-align: justify;
}
img:hover {
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    transform: scale(1.3);
}
.title {
    font-family: "Courier New", Courier, monospace;
    font-style: italic;
    font-size: 13px;
    text-align: center;
    padding: 5px;
    background-color: rgba(255, 107, 223, 0.247);
    border-radius: 40px;
    box-shadow: 4px -2px 6px -5px rgb(0, 0, 0);
    color: white;
}

.content {
    text-align: center;
}

.row {
    justify-content: center;
}

input {
    width: 300px;
}
.text-input {
    height: 100%;
    border: none;
    padding-left: 0.5em;
    background: #fff;
}

.text-input:active,
.text-input:focus,
.text-input.active {
    outline: none;
}

.first-wrap,
.second-wrap,
.third-wrap {
    border-radius: 0;
    border: 1px solid #e5e5e5;
}
.second-wrap,
.third-wrap {
    border-left: none;
    outline: none;
}

.input-select {
    height: 100%;
}

select,
select:active,
select:hover,
select:focus {
    outline: none;
    border: none;
    height: 100%;
    background: #fff;
    border: 0;
    padding: 5px 12px;
    color: rgb(100, 100, 100);
    cursor: pointer;
}

.btn {
    transition: all 2s ease-in-out;
    color: white;
    background: radial-gradient(circle, rgba(174, 234, 238, 0.46262254901960786) -85%, rgba(8, 0, 255, 0.329) 60%);
    border-radius: 0;
    height: 100%;
}

.btn:active,
.btn:focus {
    box-shadow: none;
}

.btn:hover {
    background: radial-gradient(
        circle,
        rgba(174, 234, 238, 0.46262254901960786) -60%,
        rgba(8, 0, 255, 0.4150035014005602) 80%
    );
}
