<body>
  <div class="text-center">
    <a href="https://bartoszpanocha.pl">
      <img class="logo img-fluid" src="r"
    /></a>
  </div>
  <div class="nyan-row mx-auto">
    <img class="nyan img-fluid" src="\assets\giphy.gif" />
  </div>
  <div class="container no-gutters mx-auto">
    <section class="row pt-3 search-bar">
      <div class="input-field first-wrap">
        <input
          #query
          class="text-input"
          type="text"
          name="search"
          placeholder="What are you looking for?"
          (keydown.enter)="Search(query.value, rating.value, language.value)"
        />
      </div>

      <div class="input-field second-wrap">
        <div class="input-select">
          <select #rating id="rating" name="rating">
            <!-- <option value="" placeholder="">Rating</option> -->
            <option value="G">All ages</option>
            <option value="PG">Parental guidance</option>
            <option value="PG-13">Parental guidance 13+</option>
            <option value="R">Restricted</option>
          </select>
        </div>
      </div>

      <div class="input-field third-wrap">
        <div class="input-select">
          <select #language id="language" name="language">
            <!-- N2H > Auto detect language via IP -->
            <!-- <option value="" selected>Language</option> -->

            <option value="en">English</option>
            <option value="es">Spanish</option>
            <option value="pt">Portuguese</option>
            <option value="id">Indonesian</option>

            <option value="fr">French</option>
            <option value="ar">Arabic</option>
            <option value="tr">Turkish</option>
            <option value="th">Thai</option>

            <option value="vi">Vietnamese</option>
            <option value="de">German</option>
            <option value="it">Italian</option>
            <option value="ja">Japanese</option>

            <option value="zh-CN">Chinese Simplified</option>
            <option value="zh-TW">Chinese Traditional</option>
            <option value="ru">Russian</option>
            <option value="ko">Korean</option>

            <option value="pl">Polish</option>
            <option value="nl">Dutch</option>
            <option value="ro">Romanian</option>
            <option value="hu">Hungarian</option>

            <option value="sw">Swedish</option>
            <option value="cs">Czech</option>
            <option value="hi">Hindi</option>
            <option value="bn">Bengali</option>

            <option value="da">Danish</option>
            <option value="fa">Farsi</option>
            <option value="tl">Filipino</option>
            <option value="fi">Finnish</option>

            <option value="iw">Hebrew</option>
            <option value="ms">Malay</option>
            <option value="no">Norwegian</option>
          </select>
        </div>
      </div>
      <div class="input-field fourth-wrap">
        <button
          class="btn"
          type="submit"
          (click)="Search(query.value, rating.value, language.value)"
        >
          Search!
        </button>
      </div>
    </section>
    <main class="row mt-3">
      <div class="content" *ngFor="let animation of animations">
        <div class="title">
          {{ animation.title }}
          <span *ngIf="!IsQueryValid(animation.title)">There's no title!</span>
        </div>
        <a target="_blank" href="{{ animation.gifUrl }}">
          <video class="gif" autoplay loop muted playsinline>
            <source src="{{ animation.webpUrl }}" type="video/webp" />
            <source src="{{ animation.mp4Url }}" type="video/mp4" />
            <img src="{{ animation.gifUrl }}>
          </video>
        </a>
      </div>

      <div
        class="content"
        (scrolled)="LoadMore(query.value, rating.value, language.value)"
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="20"
        infiniteScroll
      ></div>
      <button class="button-up" *ngIf="isShow" (click)="gotoTop()">▲</button>
    </main>
    <div class="nothing-message mx-auto" *ngIf="animations.length < 1">
      <div class="nothing-message-text mx-auto p-3">
        <span style="color: red;">M</span>
        <span style="color: rgb(255, 166, 0);">Y </span>
        <span style="color: yellow;">N</span>
        <span style="color: rgb(0, 255, 0);">Y</span>
        <span style="color: rgb(0, 204, 255);">A</span>
        <span style="color: darkmagenta;">N</span>
        power found nothing :/ <br />
        Try something else!
      </div>
      <br />
      <img class="angry" src="\assets\angry.gif" />
    </div>
  </div>
</body>
